/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #041250;
  background-image: url(../assets/img/background.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: OpenSans, sans-serif;
}

/* header */
#site-header {
  font-size: 17px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 24, 90, 0.6);
  box-shadow: 0x 0px 8px rgba(19, 13, 80, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
  color: white;
  transition: all 0.5s ease;
}
.section__1__h1--views {
  color: #ffffff;
}

.section__1__p {
  color: #ced3fc;
}

.section__1__h2 {
  color: white;
}

.section__1__h3 {
  color: white;
}

.section__1__calculadora {
  padding: 0;
}

.section__1__calculadora__img {
  transition: transform 0.3s;
}
.section__1__calculadora__img:hover,
.section__1__calculadora__img:focus {
  opacity: 0.65;
  transform: scale(1.03);
}
/* footer */

.h4__footer {
  color: white;
  font-size: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.footer {
  /*   background-color: #041250; */
  background-color: rgba(0, 24, 90, 0.5);
  backdrop-filter: blur(10px);
}

.footer__a {
  color: #ced3fc;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0rem 2rem 0rem 0rem;
}

.footer__a__email {
  font-size: 1rem;
  text-decoration: none;
  color: #ced3fc;
}

.footer__ul {
  padding: 0;
}

.footer__ul__li {
  font-size: 1rem;
  list-style: none;
}

.footer__ul__li:hover,
.footer__ul__li:focus,
.footer__ul__li__a:hover,
.footer__ul__li__a:focus,
.footer__a__email:hover,
.footer__a__email:focus,
.footer__a:hover,
.footer__a:focus {
  color: #ffffff;
}

.footer__ul__li__a {
  text-decoration: none;
  color: #ced3fc;
}

/* button */
.btn {
  border: 0 !important;
}

.btn-sm__limpiar {
  background-color: rgba(255, 79, 198, 0.3) !important;
}
.btn-sm__limpiar:hover,
.btn-sm__limpiar:focus {
  opacity: 0.8;
}

.blur {
  background-color: #00000050;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
